@media screen and (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (min-width: 1000px) {
  .table.againstSpread {
    width: 60%;
  }
}
.table.againstSpread th {
  cursor: pointer ;
}
.table.againstSpread .ascending:before {
  content: "\e093";
}
.table.againstSpread .ascending:before,
.table.againstSpread .descending:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.table.againstSpread .descending:before {
  content: "\e094";
}

/* Heading of the ATS table */
#ATSTable>thead>tr>th {
    padding: 2px;
}

/* Body of the ATS table */
#ATSTable>tbody>tr>td {
    padding:0px;
}

/* Secondary headers */
#ATSTable > tbody > tr:nth-child(odd) > th {
    background-color: black;
}

/* Hack to make the 1st col and 2nd col of the table blend */
#ATSTable > thead > tr:nth-child(1) > th:nth-child(1) {
    border-right-color: rgb(141,0,39) ;
}

/* Heading of the table (Straight-up) */
#ATSTable > thead > tr:nth-child(1) > th:nth-child(1),
#ATSTable > thead > tr:nth-child(1) > th:nth-child(2) {
    background-color :rgb(141,0,39);
    color:white;
    font-family:'Arial';
}

/* Heading of the table (Against the spread) */
#ATSTable > thead > tr:nth-child(1) > th:nth-child(3) {
    background-color:rgb(93,158,245);
    color:white;
    font-family:'Arial';
}

/* This is to ensure all scores are within the same line on extra small screens, like the iPhone6/7/8 Plus */
@media (max-width: 480px) {
    #ATSTable > tbody > tr > td {
        padding: 4px;
    }
}

/* Sorted arrow from kylefox/jquery-tablesort */
.table > thead > tr > th.sorted.descending:before,
.table > thead > tr > th.sorted.ascending:before {
    content:none;
}